<?xml version="1.0"?>
<robot name="mav">

  <material name="white">
    <color rgba="1.0 1.0 1.0 1"/>
  </material>

  <material name="blue">
    <color rgba="0.0 0.0 0.8 1"/>
  </material>

  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="package://mav_description/meshes/mav.stl" scale=".05 .05 .05"/>
      </geometry>
      <origin rpy="3.141592 0.0 -1.5708" xyz="0.0 0.0 0.0"/>
      <material name="white"/>
    </visual>
  </link>

</robot>
