<launch>

  <arg name="model" default="$(find mav_description)/urdf/mav/mav.urdf"/>
  <arg name="rvizconfig" default="$(find mav_description)/rviz/mav.rviz"/>
  <arg name="sliderconfig" default="$(find mav_sim)/rviz/rqt_ez.yaml"/>
  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)"/>

  <rosparam command="load" file="$(find mav)/params/mav.yaml" ns="mav" />

  <node name="tf_frames" pkg="mav" type="tf_frames" />
  <node name="trim" pkg="mav_utils" type="mav_trim" output="screen" />
  <node name="mav_dynamics" pkg="mav_sim" type="mav_dynamics" ns="mav" output="screen"/>
  <node name="mav_wrench" pkg="mav_sim" type="mav_wrench" ns="mav" output="screen"/>
  <node name="mav_controller" pkg="mav_controller" type="mav_controller" ns="mav" output="screen"/>
  <!--<node name="mav_wind" pkg="mav_sim" type="mav_wind" ns="mav" output="screen"/>-->

  <!--sensors -->
  <node name="mav_imu" pkg="mav_sim" type="mav_imu" ns="mav" output="screen"/>
  <node name="mav_pressure" pkg="mav_sim" type="mav_pressure" ns="mav" output="screen"/>
  <node name="mav_gps" pkg="mav_sim" type="mav_gps" ns="mav" output="screen"/>

  <!--estimator-->
  <node name="lpf" pkg="mav_estimator" type="lpf" ns="mav" output="screen"/>

  <!--plotter-->
  <node name="mav_plotter" pkg="mav_utils" type="mav_plotter.py" ns="mav" output="screen"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
  <node name="sliders" pkg="rqt_ez_publisher" type="rqt_ez_publisher" /> 

</launch>
